In [2]:
fruits=["Apple","Orange","Peach","Kiwi","Grapes","Banana","Strawberry","Blackberry","Mango","pineapple"]

print(fruits)

['Apple', 'Orange', 'Peach', 'Kiwi', 'Grapes', 'Banana', 'Strawberry', 'Blackberry', 'Mango', 'pineapple']

In [3]:
for fruit in fruits:
    print(fruit)

Apple
Orange
Peach
Kiwi
Grapes
Banana
Strawberry
Blackberry
Mango
pineapple

In [1]:
num=[3,56,4,3,5,6,443,56,35,34]
for num1 in num:
    print(num1)

3
56
4
3
5
6
443
56
35
34

In [6]:
# Range 
# range (a,b) = number starting from a till b(b ot included)
range(1,100)
print(list(range(1,100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [ ]:
a=range(1,11)
print(list(range(1,11)))
for num in a:
    if num <5:
        print("Number less than 5")
    else:
        print("Number less than 5")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Number less than 5
Number less than 5
Number less than 5
Number less than 5
Number less than 5
Number less than 5
Number less than 5
Number less than 5
Number less than 5
Number less than 5

: