In [1]:
Age_list =[18,20,22,24,26]

In [2]:
Name_list = ["Abhishek", "Sabin","Saidu","Vynayak","Amal"]

In [3]:
#list operation / Modification:

Name_list.append("Yazini")
print(Name_list)

['Abhishek', 'Sabin', 'Saidu', 'Vynayak', 'Amal', 'Yazini']

In [4]:
Age_list.insert(2,30)
print(Age_list)

[18, 20, 30, 22, 24, 26]

In [5]:
Name_list.remove("Yazini")
print(Name_list)

['Abhishek', 'Sabin', 'Saidu', 'Vynayak', 'Amal']

In [6]:
Age_list.extend([29,30,26])
print(Age_list)

[18, 20, 30, 22, 24, 26, 29, 30, 26]

In [7]:
Age_list.reverse()
print(Age_list)

[26, 30, 29, 26, 24, 22, 30, 20, 18]

In [8]:
minimum_age =min(Age_list)
print(minimum_age)

18

In [9]:
maximum_age= max(Age_list)
print(maximum_age)

30

In [10]:
total_age =sum(Age_list)
print(total_age)

225

In [11]:
print(Name_list[0])

Abhishek

In [12]:
print(Name_list[4])

Amal

In [13]:
print(Name_list[2:5])

['Saidu', 'Vynayak', 'Amal']

In [14]:
Name_list.reverse()
print(Name_list)

['Amal', 'Vynayak', 'Saidu', 'Sabin', 'Abhishek']

In [16]:
#Dictionary (creation,Modification and Access)

student_mark = {"Sabin":75,"Abhishek":70,"Vynayak":77,"Saidu":72,"Amal":60}

In [17]:
print(student_mark)

{'Sabin': 75, 'Abhishek': 70, 'Vynayak': 77, 'Saidu': 72, 'Amal': 60}

In [18]:
print(student_mark["Abhishek"])

70

In [19]:
student_mark.update({"Janani":80})

In [20]:
print(student_mark)

{'Sabin': 75, 'Abhishek': 70, 'Vynayak': 77, 'Saidu': 72, 'Amal': 60, 'Janani': 80}

In [21]:
print(student_mark.values())
print(student_mark.keys())
print(student_mark.items())

dict_values([75, 70, 77, 72, 60, 80])
dict_keys(['Sabin', 'Abhishek', 'Vynayak', 'Saidu', 'Amal', 'Janani'])
dict_items([('Sabin', 75), ('Abhishek', 70), ('Vynayak', 77), ('Saidu', 72), ('Amal', 60), ('Janani', 80)])

In [22]:
#set (operations)

my_set = ['a','e','i','o','u','a','a','i']

In [23]:
print(my_set)

['a', 'e', 'i', 'o', 'u', 'a', 'a', 'i']

In [ ]:
my_set[4]="s"                                                         #Explanation :set is mutable data type

In [25]:
print(my_set)

['a', 'e', 'i', 'o', 's', 'a', 'a', 'i']

In [26]:
set_1 ={1,3,5,7,9}
set_2 ={2,3,5,8,10}

set_1.union(set_2)
set_1.intersection(set_2)

{3, 5}

In [27]:
print(set_1.union(set_2))

{1, 2, 3, 5, 7, 8, 9, 10}

In [28]:
print(set_1.intersection(set_2))

{3, 5}

In [29]:
#operation and conditional statement :(if ,else,elif)


score = 8

if score >7:
    print("Above Average : Excellent Performance!")
elif 4 <= score <= 7:
    print("Average :good effort! keep practicing")
else:
    print("Below Average : Need to improve, consistent practice helps.")

Above Average : Excellent Performance!

In [31]:
score = 2

if score >7:
    print("Above Average: Excellent performance!")
elif 4<= score <=7:
    print("Average : good effort! keep practice")
else:
    print("Below Average: need to improve, consistent practice help.")

Below Average: need to improve, consistent practice help.