In [ ]:

str1 = ("Hello ")

name = input("Enter your Name: ")


result = str1 + name
print(result)

str3 = ", welcome to Python programming"


final_result = result + str3
print(final_result)

Hello Dhanush
Hello Dhanush, welcome to Python programming

In [2]:
text = "Hello Dhanush, welcome to Python programming"
print(text[0])
print(text[-1])
print(text[0:5])
print(text[-11:])
print(text[::-1])
print(text[23:29])

H
g
Hello
programming
gnimmargorp nohtyP ot emoclew ,hsunahD olleH
to Pyt

In [3]:
strM = ("Python beginner tutorial")
print(strM.upper())
print(strM.lower())
print(strM.capitalize())
print(strM.count('t'))
print(strM.replace("Python", "Machine Learning"))

PYTHON BEGINNER TUTORIAL
python beginner tutorial
Python beginner tutorial
3
Machine Learning beginner tutorial

In [4]:
t1 = (10, 20, 30)
t2 = (40, 50, 60)

In [5]:
t_combine = t1 + t2
print(t_combine)
(10, 20, 30, 40, 50, 60)
print(t_combine * 3)
print(t_combine[2])
print(t_combine[:3])
print(t_combine[-3:])

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)
30
(10, 20, 30)
(40, 50, 60)