In [ ]:
status=""
while status != "Delivered":
    status=input("Update Biriyani Delivery Status ?")
    
print("The Biriyani Has Arrived")

In [ ]:
response = ""
while response != "yes":
    
    response=input("About the payment | its Done or Not")

print("Paid")

Paid

In [ ]:
a=1
while a<=10:
    print(a)
    a+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
num=0
while num<=100:
    num=int(input("Enter a number greater a 100 "))

print("Thanks the number bigger than 100")

Thanks the number bigger than 100

In [ ]:
num1 =1
while num1 <=20:
    if num1%2==0:
        print(num1)

    num1+=1

2
4
6
8
10
12
14
16
18
20

In [ ]:
num=0
total=1
num=int(input("Enter a number  "))
while total<=10:
    print(num,"X",total,"=",num*total)

    total+=1

100 X 1 = 100
100 X 2 = 200
100 X 3 = 300
100 X 4 = 400
100 X 5 = 500
100 X 6 = 600
100 X 7 = 700
100 X 8 = 800
100 X 9 = 900
100 X 10 = 1000

In [ ]:
num = int(input("Enter a number: "))
count = 1

while count <= num:
    print(count)
    count += 1

1
2
3
4

In [ ]:
num = int(input("Enter a number: "))
count = 0

while num != 0:
    num = num // 10   # Remove last digit
    count += 1

print("Total digits:", count)

Total digits: 4

In [ ]:
for num in range(11):
    print(num)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
num = 0
num2 =1

num=int(input("Enter a number"))
while num2<=10:
    print(num*num2)

    num2=num2+1

5
10
15
20
25
30
35
40
45
50

In [ ]:
num = int(input("Enter a number: "))
count = 0

while num != 0:
    num = num // 10
    count += 1

print("Number of digits:", count)

Number of digits: 6

In [ ]:
num=0
while num<=100:
    num=int(input("Enter a number greater than 100 "))

print(num)

101

In [ ]:
for a in range(11):
    print(a)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
fruits=("Apple","Orange","Mango")
for fru in fruits:
    print(fru)

Apple
Orange
Mango

In [ ]:
fruit=["Apple"]
for fruits in fruit:
    print(len(fruits))

5

In [ ]:
number=range(1,11)
for num in number:
    if num <5:
        print("Number less than 5")
    else:
        print(num)

Number less than 5
Number less than 5
Number less than 5
Number less than 5
5
6
7
8
9
10

In [ ]:
for i in range(100):
    if i==50:
        continue
    else:
        print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [3]:
def greet():
    print('hello good morning')


greet()
print("this is my new text")
greet()

hello good morning
this is my new text
hello good morning

In [2]:
def add():
    print(a+b)

def sub():
    print(a-b)

a=int(input("Enter first number  "))
b=int(input("Enter second number  "))

c=print(a+b)

10

In [3]:
def morningroutine ():
    print("Brush teeth")
    print("Drink tea")
    print("Take shower")

In [4]:
morningroutine()

Brush teeth
Drink tea
Take shower

In [ ]:
def add_number (a=10,b=10):
    
    print(a+b)

In [10]:
add_number()
print(a+b)

20
4

In [16]:
salary=int(input("Enter your salary  :"))
if salary >=30000:
    print(salary*3)

else:
    print(salary)

600000

In [ ]:

';LKJHO9'